@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:cornflowerblue; border-radius: 20px; padding:10px;">
    <h1 class="display-4" style="color:white;">Strömberg Studios</h1>
    <p style="color: white;">Innovation, pålitlighet och samarbete</p>
</div>
<br />

<section id="hero" class="d-flex align-items-center">


    <video autoplay loop muted playsinline>
        <source src="\Videos\production_id_4828605 (2160p).mp4" type="video/mp4">
       
    </video>
    <div class="text-overlay">
        <h1>Välkommen till Strömberg Studios</h1>
        <p>Vi levererar skräddarsydda IT-lösningar för din verksamhet inom webb.</p>
    </div>
</section>

<br />

<h2 style="color: white; text-align:center">Om mig</h2>

<div id="about" style="display: flex; background-color: cornflowerblue; border-radius: 12px; align-items:center;">

    <img src="\Pictures\pro-AxXBwQzY-2004.jpg" alt="Bild på mig" style=" object-fit:contain; border-radius: 12px; height: 100%; max-height: 300px; margin-right: 20px; flex-shrink: 0;" />
    
    <p id="about-p" style="font-size: 14px; margin-right: 20px; flex-grow: 1;">
        Hej, mitt namn är Isac Strömberg, och jag är stolt grundare av denna webbyrå med fokus på webbutveckling.
        Med en kandidatexamen inom informatik kombinerar jag min passion för kreativ problemlösning med teknisk kompetens för att skapa skräddarsydda webblösningar.
        Varje projekt betraktas som unikt, och jag strävar efter att leverera användarvänliga och visuellt tilltalande webbplatser.
        Kontakta mig gärna för att diskutera hur vi kan förverkliga visionen för din webbplats.
    </p>
</div>
<br />

















<br />
<h2 style="color: white; text-align: center;">Vad jag erbjuder</h2>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <br />
            <a asp-controller="Services" asp-action="Index"><img src="\Pictures\photo-1517694712202-14dd9538aa97.jpg" alt="Webbutveckling" class="d-block w-100"></a>
                <p style="text-align:center;">Informationssida</p>
        </div>
        <div class="carousel-item">
            <br />
            <a asp-controller="Services" asp-action="Index"><img src="\Pictures\photo-1511871893393-82e9c16b81e3.jpg" alt="Logotyper" class="d-block w-100"></a>
                <p style="text-align:center;">Bokningssystem</p>
        </div>
        <div class="carousel-item">
            <br />
            <a asp-controller="Services" asp-action="Index"> <img src="\Pictures\photo-1566207474742-de921626ad0c.jpg" alt="Test" class="d-block w-100"></a>
                <p style="text-align:center;">Valfritt projekt</p>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<br />
<h2 style="text-align: center; color: white;">Kundreferenser</h2>
<section style="display: flex;">


    <img src="\Pictures\IMG_20190413_191345.jpg" alt="Kundreferens" width="300" height="200" style="display: inline-block; margin-right: 10px; border-radius: 30px" />

    <p style="display: inline-block; font-size: 14px; color : white; border-radius: 20px;  padding: 10px; background-color :cornflowerblue;">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    </p>
</section>
<br />
<section style="display: flex;">


    <img src="\Pictures\IMG_20190413_191345.jpg" alt="Kundreferens" width="300" height="200" style="display: inline-block; margin-right: 10px; border-radius: 30px" />

    <p style="display: inline-block; font-size: 14px; color : white; border-radius: 20px;  padding: 10px; background-color :cornflowerblue;">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    </p>
</section>