@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex align-items-center justify-content-center">
    <h1 class="display-4 text-center" style="background-color: cornflowerblue; border-radius: 20px; padding: 10px; display: inline-block;">
        Mina tjänster
    </h1>


</div>



<br />
<div style="display: flex; justify-content: space-around; gap: 10px; flex-wrap: wrap;">

    <div style="flex: 1; background-color: cornflowerblue; border-radius: 20px; padding: 10px; text-align: center;">
        <h2 class="display-4">Informationssida</h2>
        <p style="font-size: 14px; border-radius: 20px; padding: 10px; background-color: cornflowerblue;">
            En informationssida är en webbplats som främst fungerar som en digital plattform för att presentera och kommunicera information om exempelvis din verksamhet.
            Denna typ av webbplats har som huvudsyfte att exempelvis ge besökare en omfattande översikt över verksamheten, dess produkter, tjänster, och andra relevanta detaljer.
            Genom användning av text, bilder, och ibland multimediaelement som videor,
            strävar informationssidan efter att effektivt kommunicera företagets kärnvärden, mål och eventuella nyheter till potentiella kunder, befintliga kunder och andra intressenter.
            Vanligtvis är gränssnittet intuitivt utformat för att möjliggöra enkel navigering och tillgänglighet, vilket ger besökarna möjlighet att snabbt och lätt hitta den önskade informationen om företaget.
            Informationssidor är en viktig del av en verksamhets online-närvaro och fungerar som ett digitalt visitkort för att etablera och stärka verksamhetens image på internet.
        </p>
    </div>

    <div style="flex: 1; background-color: cornflowerblue; border-radius: 20px; padding: 10px; text-align: center;">
        <h2 class="display-4">Bokningssystem</h2>
        <p style="font-size: 14px; border-radius: 20px; padding: 10px; background-color: cornflowerblue;">
            Ett bokningssystem på en webbplats utgör en centraliserad digital plattform som möjliggör en sömnlös och effektiv hantering av bokningar och reservationer för olika tjänster eller evenemang.
            Genom användning av specialiserade funktioner och interaktiva gränssnitt möjliggör bokningssystemet för användare att enkelt utforska tillgängliga alternativ, välja önskade datum och tider samt slutföra bokningar online.
            Denna typ av webbplats fokuserar på att skapa en bekväm och användarvänlig upplevelse för både företaget och dess kunder.
            Besökare ges möjlighet att boka och bekräfta sina reservationer i realtid, vilket minskar administrativt arbete och förbättrar kundnöjdheten.
            Beroende på ändamålet kan bokningssystemet omfatta olika tjänster såsom restaurangbord eller möteslokaler.
            Bokningssystemet är en kraftfull digital lösning som optimerar resursanvändningen och skapar en strukturerad
            och automatiserad hantering av bokningar, vilket i slutändan bidrar till att förbättra effektiviteten och servicekvaliteten för företaget.
        </p>
    </div>

    <div style="display: flex; flex-direction: column; background-color: cornflowerblue; border-radius: 20px; padding: 10px; text-align: center; width:100%;">
        <h2 class="display-4">Valfritt projekt</h2>
        <p style="font-size: 14px; border-radius: 20px; padding: 10px; background-color: cornflowerblue;">
            Har du en egen idé om vad du vill utveckla som du inte finner på denna webbplats? Fyll i kontaktformuläret så diskuterar vi möjligheter och förutsättningar att förverkliga den med mig som konsult!
        </p>

    </div>
    <div style="background-color: #4CAF50; width:400px; text-align:center; border-radius:12px;">
        <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Kontakta mig för offert</a>
    </div>
</div>
<br />

<div id="about" style="display: flex; background-color: cornflowerblue; border-radius: 12px; align-items:center;">

    <img src="\Pictures\ContactPictures\high_five.jpg" alt="Bild på mig" style=" object-fit:contain; border-radius: 12px; height: 100%; max-height: 200px; margin-right: 20px; flex-shrink: 0;" />

    <p id="about-p" style="font-size: 14px; margin-right: 20px; flex-grow: 1;">
        Relationsbyggande och att skapa win-win-situationer är fundamentala principer för mig som utvecklare.
        Jag tycker att varaktiga relationer bygger på ömsesidig tillit och värdefullt samarbete.
        Min övertygelse är att framgång inte bara handlar om att tillhandahålla tekniska lösningar, utan också om att bygga långsiktiga trygga partnerskap.
     
    </p>
</div>





