@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Kontakta mig</h1>
<form action="#" method="post" style="background-color: cornflowerblue; padding: 20px; border-radius: 10px; width: 100%; ">
    <label for="name" style="display: block; margin-bottom: 8px;">Namn:</label>
    <input type="text" id="name" name="name" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;" required>

    <label for="email" style="display: block; margin-bottom: 8px;">E-post:</label>
    <input type="email" id="email" name="email" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;" required>

    <label for="message" style="display: block; margin-bottom: 8px;">Meddelande:</label>
    <textarea id="message" name="message" rows="4" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;" required></textarea>

    <button type="submit" style="background-color: #4CAF50; color: white; width:200px; padding: 20px; border: none; border-radius: 4px; cursor: pointer; margin: auto; display: block;">
        Skicka
    </button>

</form>
<br />
<div id="about" style="display: flex; background-color: cornflowerblue; border-radius: 12px; align-items:center;">

    <img src="\Pictures\ContactPictures\stock_chart_up.jpg" alt="Bild på mig" style=" object-fit:contain; border-radius: 12px; height: 100%; max-height: 200px; margin-right: 20px; flex-shrink: 0;" />

    <p id="about-p" style="font-size: 14px; margin-right: 20px; flex-grow: 1;">
        Att investera i en professionell och välutformad hemsida är en strategisk och lönsamt beslut för alla företag i dagens digitala era.
        En modern och användarvänlig webbplats fungerar som en digital entré och är ofta det första intrycket potentiella kunder får av ditt företag.
        Genom att ha en närvaro på nätet skapar du möjligheter att nå ut till en bredare publik och öka din synlighet på marknaden.

    </p>
</div>




